.page-navigation-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12;
}

.page-navigation-count {
  width: auto;
  height: auto;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: var(--text-primary);
}

.page-navigation-count strong {
  font-weight: 500;
  color: var(--accent-color);
}

.page-navigation-control-panel {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  gap: 12px;
}

.prev-page-button,
.next-page-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 6px 9px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.035em;
}

.next-page-button:not(:disabled),
.prev-page-button:not(:disabled) {
  background-color: var(--bg-secondary-15);
  color: var(--text-primary);
  transition: all 0.35s ease;
}

.next-page-button:not(:disabled):hover,
.next-page-button:not(:disabled):focus-visible,
.prev-page-button:not(:disabled):hover,
.prev-page-button:not(:disabled):focus-visible {
  background-color: var(--bg-secondary-25);
}

.prev-page-button:disabled,
.next-page-button:disabled {
  cursor: default;
  color: var(--text-secondary-75);
  background-color: var(--bg-secondary-10);
}
