.logo {
  outline: none;
  border: none;
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  color: rgb(var(--text-primary));
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0.025em;
  text-decoration: none;
  cursor: pointer;
}

.logo-icon {
  color: rgb(var(--accent-color));
  font-size: 36px;
}
