:root {
  /* Light theme (default) */
  --bg-primary: #f8f9fa;
  --bg-secondary: #49505710;

  --text-primary: #000000;
  --text-secondary: #666666;

  --accent-color: #e67700;
}

[data-theme='dark'] {
  --bg-primary: #1a1a1a;
  --bg-secondary: #2d2d2d;

  --text-primary: #ffffff;
  --text-secondary: #a0a0a0;

  --accent-color: #60a5fa;
}
