:root {
  /* Light theme (default) */
  --bg-primary: 248, 249, 250;
  --bg-secondary: 73, 80, 87;

  --text-primary: 0, 0, 0;
  --text-secondary: 73, 80, 87;

  --accent-color: 230, 119, 0;
  --accent-color-light: 245, 159, 0;

  --accent-stock: 55, 178, 77;
  --accent-no-stock: 240, 62, 62;
  --accent-stock-on-the-way: 245, 159, 0;
}

[data-theme='dark'] {
  --bg-primary: 26, 26, 26;
  --bg-secondary: 206, 212, 218;

  --text-primary: 255, 255, 255;
  --text-secondary: 173, 181, 189;

  --accent-color: 245, 159, 0;
  --accent-color-light: 252, 196, 25;

  --accent-stock: 81, 207, 102;
  --accent-no-stock: 255, 107, 107;
  --accent-stock-on-the-way: 252, 196, 25;
}
