.search-input-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  background-color: rgb(var(--bg-secondary), 0.2);
  padding: 6px 9px;
  border-radius: 6px;
}

.search-icon {
  color: rgb(var(--text-primary));
  font-size: 16px;
  width: fit-content;
}

.search-input {
  outline: none;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  height: auto;
  color: rgb(var(--text-primary));
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  caret-color: rgb(var(--accent-color));
}

.search-input::placeholder {
  font-size: 14px;
  color: rgb(var(--text-secondary), 0.75);
  font-weight: 300;
  letter-spacing: 0.025em;
}

.clear-search-input-btn {
  outline: none;
  border: none;
  width: auto;
  height: auto;
  color: #ffffff;
  background-color: #ff6b6b;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-align: center;
  cursor: pointer;
  padding: 6px 9px;
  border-radius: 6px;
  transition: background-color 0.35s ease;
}

.clear-search-input-btn:not(:disabled):hover,
.clear-search-input-btn:not(:disabled):focus-visible {
  background-color: #c92a2a;
}

.clear-search-input-btn:disabled {
  opacity: 0.35;
  cursor: default;
}
