.search-input-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  background-color: #49505710;
  padding: 6px 9px;
  border-radius: 6px;
}

.search-icon {
  color: black;
  font-size: 16px;
  width: fit-content;
}

.search-input {
  outline: none;
  border: none;
  background-color: transparent;
  flex-grow: 1;
  height: auto;
  color: black;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  caret-color: #e67700;
}

.search-input::placeholder {
  font-size: 14px;
  color: #49505775;
  font-weight: 300;
  letter-spacing: 0.025em;
}

.clear-search-input-btn {
  outline: none;
  border: none;
  width: auto;
  height: auto;
  color: white;
  background-color: red;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  text-align: center;
  cursor: pointer;
  padding: 6px 9px;
  border-radius: 6px;
}

.clear-search-input-btn:not(:disabled):hover,
.clear-search-input-btn:not(:disabled):focus-visible {
  background-color: darkred;
}

.clear-search-input-btn:disabled {
  opacity: 0.25;
  cursor: default;
}
