.table {
  width: calc(100vw - 48px);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-heading {
  width: 100%;
  height: 36px;
  background-color: rgb(var(--bg-secondary), 0.2);
  display: grid;
  grid-template-columns: 96px 1fr 160px 256px 128px 192px;
  grid-template-rows: 1;
  border-bottom: 1px solid rgb(var(--bg-secondary), 0.5);
  border-radius: 6px 6px 0px 0px;
}

.table-heading-cell {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 9px;
}

.table-heading-cell-icon {
  color: rgb(var(--accent-color));
  font-size: 14px;
}

.table-heading-cell-value {
  color: rgb(var(--text-secondary));
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.025em;
}

.table-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-content-row {
  width: 100%;
  height: 36px;
  display: grid;
  grid-template-columns: 96px 1fr 160px 256px 128px 192px;
  grid-template-rows: auto;
  border-bottom: 1px solid rgb(var(--bg-secondary), 0.5);
}

.table-content-row:nth-child(odd) {
  background-color: rgb(var(--bg-primary));
}

.table-content-row:nth-child(even) {
  background-color: rgb(var(--bg-secondary), 0.2);
}

.row-cell {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 6px 9px;
  font-size: 14px;
  font-weight: 300;
  color: rgb(var(--text-primary));
  letter-spacing: 0.025em;
}

.row-id,
.row-price {
  font-weight: 400;
}

.row-name {
  outline: none;
  border: none;
  border-right: 1px solid rgb(var(--bg-secondary), 0.5);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.35s ease;
}

.row-name:hover,
.row-name:focus-visible {
  color: rgb(var(--accent-color));
}

.row-status-stock {
  color: rgb(var(--accent-stock));
}

.row-status-no-stock {
  color: rgb(var(--accent-no-stock));
}

.row-status-stock-on-the-way {
  color: rgb(var(--accent-stock-on-the-way));
}

.table-heading div:not(:last-child),
.table-content p:not(:last-child) {
  border-right: 1px solid rgb(var(--bg-secondary), 0.5);
}
